@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#pizza-logo {
    height: 100px;
    padding: 0.8rem 0;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    padding-bottom: 10px;
    font-size: xx-large;
}

#navigation-items {
    display: flex;
    flex-direction: row;
    font-family: Rosario;
    justify-content: space-between;
    margin: auto;
    width: 40%;
}

li {
    list-style-type: none;
    margin: auto;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
}

li:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    transition: ease-in-out 0.3s;
}

#navigation-items a {
    color: var(--grayish-brown);
    text-decoration: none;
    padding: 1rem;
}

#menu-btn {
    padding: 1rem;
}

#menu-dropdown {
    position: relative;
    display: inline-block;
}

#menu-dropdown-content {
    display: none;
    position: absolute;
    left: -2rem;
    top: 3rem;
    background-color: var(--light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


#menu-dropdown:hover #menu-dropdown-content {
    display: flex;
    flex-direction: column;
}

.menu-link {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.menu-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

#user-img {
    width: 80px;
    height: 80px;
    margin: 1rem;
    cursor: pointer;
}

.hero-image {
    min-height: 70%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homepage-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 800px));
    grid-template-rows: 100px 400px 100px 200px 100px;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    color: var(--grayish-brown);
}

.pizza-name {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    margin: 1rem;
}

.pizza-name h2 {
    margin: 0;
    padding: 0;
}

.pizza-image {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
}

.dough {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    margin: 1rem;
}

#glut {background-color: #FDBC67;}

#keto {background-color: #7DCD52;}

#usual {background-color: #FDD8A9;}

.dough button {
    border: none;
    font-size: 20px;
    padding: 1rem;
    margin: 0.5rem;
    width: 6rem;
    border-radius: 50px;
    color: var(--grayish-brown);
    text-transform: uppercase;
    font-weight: bold;
}

.comments {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    text-align: center;
    color: var(--grayish-brown);
    font-size: 20px;
}

#message {
    border: none;
    border-radius: 50px;
    margin: 0.5rem;
    padding: 2rem;
    font-size: 20px;
}

.size {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.size button:hover, .dough button:hover, #confirm-order:hover {
    cursor: pointer;
}

#s, #m, #l {
    background-color: #E9451C;
    color: #faf4f1;
    width: 5rem;
    padding: 0.3rem;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 0.5rem;
}

.fillings {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    margin-top: 2rem;
}

#search {
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    border-radius: 36px;
    font-size: 15px;
}

.nutritions {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    margin-top: 2rem;
    text-align: center;
}

.calories {
    background-color: var(--grass);
    height: 9rem;
    width: 20rem;
    border-radius: 36px;
    padding: 1rem;
}

#confirm-order {
    width: 6rem;
    border-radius: 50px;
    border: none;
    padding: 1rem;
    background-color: var(--tomato);
    color: var(--light);
    font-size: 20px;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
}

.category-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category {
    background-color: var(--parchment);
    padding: 1rem;
    margin: 0.5rem auto;
    width: 70%;
    border-radius: 12px;
}

.arrow {
    transition: transform 0.3s;
}

.category-content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 1rem;
    margin: 0.5rem;
}
