@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#header-logo {
    width: 30%;
    height: 100%;
}

.pizza-logo {
    height: 100px;
    padding: 0.8rem 0;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    padding-bottom: 10px;
    font-size: xx-large;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 0;
}

.wrapper .top_nav{
    margin-top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-icon {
    height: 30px;
}

.bottom-nav-icon {
    height: 50px;
}

#lang-container {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#lang-container > * {
    padding: 0 5px;
    margin: auto;
}

.lang-option.active-lang {
    background-color: var(--grayish-brown);
    border: 3px solid var(--grayish-brown);
    color: var(--light);
}
.inactive-lang {
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 3rem;
    background-color: var(--light);
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.dropdown-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-nav-items {
    display: flex;
    justify-content: space-evenly;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 1.5rem;
}

#user-options {
    list-style-type: none;
}

#user-options li {
    padding: 0 1rem;
    margin: 0 1rem;
}

#bottom-nav-items a{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: var(--grayish-brown);
    margin: auto 2rem;
}
#pizza-dropdown {
    left: 2rem;
}

.wrapper .bottom_nav{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#bottom-nav-items .dropdown {
    margin: auto 0 auto 2rem;
}

#user-options {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-dropdown {
    width: 100%;
    top: 3.3rem;
    border: 1px var(--grayish-brown) solid;
}

#logout-link {
    cursor: unset;
}

#logout-btn {
    border: none;
    background-color: var(--light-peach);
    font-family: Rosario;
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

#logout-btn:hover {
    cursor: pointer;
    background-color: #dec5a5;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
}
  
#phone-button {
    animation: pulse 2s infinite;
}

a {
    text-decoration: none;
}

.hero-image {
    min-height: 100%;
    background-image: url(../images/bckgrndlight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homepage-content {
    width: 90%;
    margin: auto;
    padding: 5rem 0;
    color: var(--grayish-brown);
    margin-bottom: 5rem;
}

#admin-info {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 500px));
    grid-gap: 2rem;
    margin: 2rem 1rem;
}

#admin-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#admin-info h3 {
    background-color: #68563d;
    padding: 1rem;
    margin-top: 0;
    color: var(--light);
}

#admin-info a {
    text-decoration: none;
    color: var(--grayish-brown);
}

#all-users {
    margin: 0 auto 1rem;
}

#orders-progress, #users, #ingredients {
    margin-top: 0;
    background-color: var(--light);
    padding: 0;
    text-align: center;
}

.admin-button {
    background-color: var(--grayish-brown);
    color: var(--light);
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
}

a {
    color: var(--light);
}

.admin-button:hover {
    background-color: #584932;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    transition: ease-out 0.3s;
    cursor: pointer;
}

.open-dialog {
    display: block;
    position: fixed;
    top: 50%;
    left: 5%;
}

.hidden {
    display: none;
}

.dialog-top {
    background-color: var(--grayish-brown);
    margin: 0;
    position: fixed;
    top: 8vh;
    left: 30vw;
    width: 40vw;
    margin: auto;
    height: 10vh;
    padding: 1vh 2vw;
    display: flex;
    border-radius: 5px 5px 0 0;
    flex-direction: row;
    justify-content: space-between;
    z-index: 300;
}

.dialog-header {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, 50%);
    color: var(--light);
}

.close-dialog {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 0 1.5rem;
    font-weight: bolder;
    color: var(--light);
}

.close-dialog:hover {
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dialog-content {
    position: fixed;
    top: 13vh;
    left: 30vw;
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    padding: 2vw;
    width: 40vw;
    height: 65vh;
    background-color: var(--light);
    backdrop-filter: blur(10px);
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

form {
    padding: 1rem;
}

.dialog-content h4 {
    color: var(--grayish-brown);
    padding: 1rem;
}

#user-name-id {
    color: var(--light);
    padding: 0;
}

label {
    color: var(--grayish-brown);
}

.form-input {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none; 
}

.form-btn {
    border: none;
    background-color: var(--grayish-brown);
    color: var(--light);
    cursor: pointer;
    padding: 0.7rem;
    margin: 1rem auto;
    font-family: Rosario;
    font-size: larger;
}

.form-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #5c4b34;
}

.open-popup {
    display: block;
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--tomato);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 200;
}

.open-popup p {
    color: var(--light);
    margin-top: 5rem;
    text-align: center;
}

#warning-icon {
    margin: auto;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.confirm-options {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order {
    background-color: #e5ddda;
    width: 90%;
    margin: auto;
}

.order-icons-div {
    width: 20%;
    margin: auto 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-orders {
    display: flex;
    flex-direction: column;
}

.modal-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #e5ddda;
    width: 100%;
    margin: auto auto 1rem auto;
}

.data-list {
    width: 90%;
    margin: auto;
    list-style-type: none;
    position: absolute;
    left: -1rem;
}

.completed-icon:hover, .remove-icon:hover {
    cursor: pointer;
}

.this-user {
    background-color: #e5ddda;
    width: 90%;
    margin: auto auto 1rem auto;
}

.user-div {
    display: block;
}

.user-name-id {
    background-color: var(--grayish-brown);
    color: var(--light);
    width: 100%;
    padding: 0;
    margin: 0;
}

.admin-div {
    margin: 0 auto;
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
}

.user-icons-div {
    padding: 1rem;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-user-icon:hover {
    cursor: pointer;
}


.open-popup {
    display: block;
    position: fixed;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 200;
}

#message-user {
    background-color: var(--light);
}

#delete-order {
    background-color: var(--light);
}

#delete-order p {
    color: var(--grayish-brown);
}

#confirm-deletion {
    background-color: var(--tomato);
}

.open-popup h4 {
    color: var(--grayish-brown);
    text-align: center;
}

.confirm-options {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.this-igt {
    background-color: #e5ddda;
    width: 50%;
    margin: 0.2rem auto 1rem auto;
}

.qty-btn {
    border: none;
    border-radius: 50px;
    background-color: var(--grayish-brown);
    color: var(--light);
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    margin: 1rem;
    font-family: Rosario;
    font-size: larger;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    width: 90%;
    margin: 0 auto 0.5rem auto;
    border: 2px solid #65553d;
    border-radius: 5px;
}

.ingredient-name {
    background-color: var(--grayish-brown);
    color: var(--light);
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
}

/* Tablet view */

@media only screen and (max-width: 768px) {
    #header-logo {
        display: none;
    }
    .dropdown {
        display: none;
    }
    .wrapper {
        width: 100%;
    } 
    #bottom-nav-items a {
        display: none;
    }
    #admin-info {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: unset;
    }
    #orders-progress {
        grid-row: 1 / 2;
    }
    #users {
        grid-row: 2 / 3;
    }
    #ingredients {
        grid-row: 3 / 4;
    }
    form {
        padding: 0;
    }
    #contact-info {
        margin: auto;
    }
    #social-media-icons {
        width: 100%;
    }
    .logo-container {
        width: 100%;
        justify-content: center;
    }
}

/* Mobile view */
@media only screen and (max-width: 480px) {
    #header-logo {
        display: none;
    }
    .dropdown {
        display: none;
    }
    .wrapper {
        width: 100%;
    } 
    #bottom-nav-items a {
        display: none;
    }
    #admin-info {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
    #orders-progress {
        grid-row: 1 / 2;
    }
    #users {
        grid-row: 2 / 3;
    }
    #ingredients {
        grid-row: 3 / 4;
    }
    form {
        padding: 0;
    }
    #contact-info {
        margin: auto;
    }
    #social-media-icons {
        width: 100%;
    }
    .logo-container {
        width: 100%;
        justify-content: center;
    }
}