@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

#mainpage-link {
    text-decoration: none;
    color: var(--grayish-brown);
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#pizza-logo {
    height: 100px;
    padding: 0.8rem 0;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    padding-bottom: 10px;
    font-size: xx-large;
}

#navigation-items {
    display: flex;
    flex-direction: row;
    font-family: Rosario;
    justify-content: space-between;
    margin: auto;
    width: 40%;
}

li {
    list-style-type: none;
    margin: auto;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
}

li:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    transition: ease-in-out 0.3s;
}

#navigation-items a {
    color: var(--grayish-brown);
    text-decoration: none;
    padding: 1rem;
}

#menu-btn {
    padding: 1rem;
}

#menu-dropdown {
    position: relative;
    display: inline-block;
}

#menu-dropdown-content {
    display: none;
    position: absolute;
    left: -2rem;
    top: 3rem;
    background-color: var(--light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#menu-dropdown:hover #menu-dropdown-content {
    display: flex;
    flex-direction: column;
}

.menu-link {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.menu-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

#user-img {
    width: 80px;
    height: 80px;
    margin: 1rem;
    cursor: pointer;
}

.hero-image {
    min-height: 60%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 1rem;
}

#homepage-content {
    width: 90%;
    margin: auto;
    padding: 5rem 0;
    color: var(--grayish-brown);
    margin-bottom: 5rem;
}


#job-search {
    background-color: var(--light);
    padding: 2rem;
    margin: 2rem auto;
    width: 80%;
    border: 1px solid var(--grayish-brown);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    align-items: center;
}

#job-search h1 {
    font-size: 80px;
    height: 90px;
    grid-column: 1/6;
    margin-bottom: 30px;
    text-align: center;
}

#job-search h2 {
    font-size: x-large;
    margin-bottom: 30px;
    grid-column: 1/5;
    text-align: center;

}

#job-search h3 {
    font-size: x-large;
    margin-bottom: 30px;
    grid-column: 1/3;


}

#job-search p {
    font-size: large;
    margin-bottom: 20px;
    grid-column: 1/5;
}


#job-search ul {
    grid-column: 1/3;
    grid-row: 4;
    grid-template-columns: 0.5fr 1fr;
    display: grid;
    margin-left: 20px;
    font-size: large;
    margin-bottom: 20px;
    align-items: center center;
}

#job-search li {
    margin: auto;
    grid-column: 2;
    width: auto;
    list-style-type: disc;

}

#job-search form {
    margin-top: 20px;
    grid-column: 1/5;
}

#job-search label {
    display: block;
    font-size: large;
    margin-bottom: 5px;
}

#job-search input[type="text"],
#job-search input[type="email"],
#job-search select {
    width: 100%;
    padding: 10px;
    font-size: large;
    margin-bottom: 15px;
    border: 1px solid var(--grayish-brown);
    border-radius: 5px;
}


#job-search button[type="submit"] {
    background-color: var(--butterscotch);
    color: var(--light);
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#job-search button[type="submit"]:hover {
    background-color: var(--dandelion);
}

#job-search img{
    margin-bottom: 20px;
}
#chef{
    grid-row: 1;
    max-width: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}
#deliver{
    grid-row: 2;
    max-width: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100%;

}


footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
}
