@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#pizza-logo {
    height: 100px;
    padding-bottom: 1rem;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    font-size: xx-large;
}

#navigation-items {
    display: flex;
    flex-direction: row;
    font-family: Rosario;
    justify-content: space-between;
    margin: auto;
    width: 40%;
}

li {
    list-style-type: none;
    margin: auto;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
}

li:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

#menu-btn {
    padding: 1rem;
}

#menu-dropdown {
    position: relative;
    display: inline-block;
}

#menu-dropdown-content {
    display: none;
    position: absolute;
    left: -2rem;
    top: 3rem;
    background-color: var(--light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#menu-dropdown:hover #menu-dropdown-content {
    display: flex;
    flex-direction: column;
}

.menu-link {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.menu-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
}

#user-img {
    width: 100px;
    height: 100px;
    margin: auto 1rem auto auto;
    cursor: pointer;
}

.hero-image {
    min-height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#login-register-container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5rem 0;
}

#login-register-screen {
    width: 40%;
    text-align: center;
    background-color: var(--light);
    padding: 0;
    margin: auto;
    display: block;
}

#login-register-tabs {
    margin: 0;
    width: 100%;
    display: flex;
}

.user-form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.form-tab {
    width: 50%;
    border: none;
    padding: 1rem 0;
    font-size: larger;
    font-family: Rosario;
}

.active-tab {
    background-color: var(--light);
    color: var(--grayish-brown);
}

.inactive-tab {
    background-color: var(--grayish-brown);
    color: var(--light);
    cursor: pointer;
}

.inactive-tab:hover {
    text-shadow: rgba(0, 0, 0, 0.56) 0px 3px 8px;
    background-color: #5c4b34;
}

.form-input {
    padding: 0.5rem;
}

.form-btn {
    border: none;
    background-color: var(--grayish-brown);
    color: var(--light);
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 1rem;
    font-family: Rosario;
    font-size: larger;
}

.form-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #5c4b34;
}

.input-space {
    background-color: var(--grayish-brown);
    width: 70%;
    border: none;
    font-size: large;
    font-family: Rosario;
    color: var(--light);
}

.form-container {
    padding: 1rem;
}

.content-tab {
    height: 15rem;
    width: auto;
    background-color: var(--light);
    text-align: center;
    padding: 3rem;
    display: block;
}

#phone-icon {
    width: 5rem;
    margin-top: 3rem;
}

footer {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
}