@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
    display: flex;
    flex-direction: row;
    height: 150px;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#header-logo {
    width: 25%;
    height: 100%;
}

#pizza-logo {
    height: 100px;
    padding: 0.8rem 0;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    padding-bottom: 10px;
    font-size: xx-large;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.wrapper .top_nav{
    margin-top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.top-nav-icon {
    height: 30px;
}

.bottom-nav-icon {
    height: 50px;
}

#lang-container {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
}

#lang-container > * {
    padding: 0 5px;
    margin: auto;
}

.active-lang {
    background-color: var(--grayish-brown);
    border-radius: 3px solid var(--grayish-brown);
    color: var(--light);
}

.inactive-lang {
    cursor: pointer;
    background-color: var(--light);
    color: var(--grayish-brown);
}

#finnish {
    padding-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 2rem;
    background-color: var(--light);
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#pizza-dropdown {
    left: 2rem;
}

.dropdown-link {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.dropdown-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
}

.wrapper .top_nav .right ul li {
    margin: 0 1rem;
}

.wrapper .top_nav .right ul li a {
    display: block;
    padding: 8px 10px;
}

.wrapper .bottom_nav {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.wrapper .bottom_nav ul li {
    margin: auto 2rem;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.wrapper .bottom_nav ul .dropdown {
    margin: auto 2rem;
}

.wrapper .bottom_nav ul li a{
    font-family: Rosario;
    color: var(--grayish-brown);
    padding: 1rem;
}

#user-options {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

#user-dropdown {
    width: 100%;
    top: 3.3rem;
    border: 1px var(--grayish-brown) solid;
}

a {
    text-decoration: none;
}

.hero-image {
    min-height: 100%;
    background-image: url(../images/bckgrndlight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homepage-content {
    display: block;
    width: 90%;
    margin: auto;
    padding: 5rem 0;
}

#quick-select-container {
    width: 60%;
    text-align: center;
    background-color: #faf4f1d4;
    padding: 2rem;
    margin: auto;
    border-radius: 20px;
}

#hero-title {
    padding: 1rem 5rem;
    font-size: 50px;
}

#pizza-templates {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 2rem;
    padding: 1rem;
}

#pizza-selection-text {
    font-size: x-large;
}

.pizza-selector {
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-family: Rosario;
    font-size: larger;
    border: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pizza-selector:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 8px;
    transition: ease-in-out 0.3s;
}

#button-1 {
    background-color: var(--butterscotch);
}

#button-2 {
    background-color: var(--dandelion);
}

#button-3 {
    background-color: var(--parchment);
}

#button-4 {
    background-color: var(--grass);
}

#button-5 {
    background-color: var(--light-peach);
}

#button-6 {
    background-color: var(--light);
}

#button-7 {
    background-color: var(--tomato);
    width: 1.5fr;
    margin-top: 1rem;
}

#button-7 a {
    color: black;
}

#content-tabs {
    width: 90%;
    margin: auto;
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    overflow: hidden;
}


.content-tab, #offers, #promo-code {
    height: 15rem;
    width: 10rem;
    background-color: var(--light);
    text-align: center;
    padding: 2rem;
    display: block;
    position: relative;
    cursor: pointer;
    transition: width 0.5s ease, order 0.5s ease;
}

#offers, #promo-code {
    cursor: default;
}

.expanded {
    width: 45rem;
    background-color: #e2dad7;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 8px;
    order: -1;
}

#about-us {
    order: 1;
    background-image: url('../images/pizza-about-us.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#contacts {
    order: 2;
}

#phone-icon {
    width: 4rem;
    margin-top: 3rem;
}

#offers {
    order: 3;
}

#pizza-ad {
    height: 100px;
}

#promo-code {
    order: 4;
}

#pizza-promo {
    height: 5rem;
}

.active {
    display: flex;
}

.expanded #phone-icon {
    display: none;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
