@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 0;
    padding: 0;
}

.mobile-menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }

  .bottom_nav {
    display: none;
  }

.logo-container {
    display: flex;
    flex-direction: row;
}

#header-logo {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pizza-logo {
    height: 100px;
    padding: 1rem;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    font-size: x-large;
}

.wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 0;
}

.wrapper .top_nav{
    margin-top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-icon {
    height: 30px;
}

.bottom-nav-icon {
    height: 50px;
}

#lang-container {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#lang-container > * {
    padding: 0 5px;
    margin: auto;
}

.lang-option.active-lang {
    background-color: var(--grayish-brown);
    border: 3px solid var(--grayish-brown);
    color: var(--light);
}
.inactive-lang {
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 3rem;
    background-color: var(--light);
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.dropdown-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-nav-items {
    display: flex;
    justify-content: space-evenly;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 1.5rem;
}

#user-options {
    list-style-type: none;
}

#user-options li {
    padding: 0 1rem;
    margin: 0 1rem;
}

#bottom-nav-items a{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: var(--grayish-brown);
    margin: auto 2rem;
}
#pizza-dropdown {
    left: 2rem;
}

.wrapper .bottom_nav{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#bottom-nav-items .dropdown {
    margin: auto;
}

#user-options {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-dropdown {
    width: 100%;
    top: 3.3rem;
    border: 1px var(--grayish-brown) solid;
}

#logout-link {
    cursor: unset;
}

#logout-btn {
    border: none;
    background-color: var(--light-peach);
    font-family: Rosario;
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

#logout-btn:hover {
    cursor: pointer;
    background-color: #dec5a5;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
}
  
#phone-button {
    animation: pulse 2s infinite;
}

a {
    text-decoration: none;
}

.hero-image {
    min-height: 100%;
    background-image: url(../images/bckgrndlight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homepage-content {
    display: block;
    width: 90%;
    margin: auto;
    padding: 5rem 0;
}

#quick-select-container {
    width: 60%;
    text-align: center;
    background-color: #faf4f1d4;
    padding: 2rem;
    margin: auto;
    border-radius: 20px;
}

#hero-title {
    padding: 1rem 5rem;
    font-size: 50px;
}

#pizza-templates {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 2rem;
    padding: 1rem;
}

#pizza-selection-text {
    font-size: x-large;
}

.pizza-selector {
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-family: Rosario;
    font-size: larger;
    border: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pizza-selector:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 3px 8px;
    transition: ease-in-out 0.3s;
}

#button-1 {
    background-color: var(--butterscotch);
}

#button-2 {
    background-color: var(--dandelion);
}

#button-3 {
    background-color: var(--parchment);
}

#button-4 {
    background-color: var(--grass);
}

#button-5 {
    background-color: var(--light-peach);
}

#button-6 {
    background-color: var(--light);
}

#button-7 {
    background-color: var(--tomato);
    margin-top: 1rem;
}

#button-7 a {
    color: black;
}

#content-tabs {
    width: 90%;
    margin: auto;
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    overflow-x: scroll;
}


.content-tab, #offers, #promo-code {
    height: 15rem;
    width: 10rem;
    background-color: var(--light);
    text-align: center;
    padding: 2rem;
    display: block;
    position: relative;
    cursor: pointer;
    transition: width 0.5s ease, order 0.5s ease;
    border-radius: 20px;
}
.content-tab p{
    font-size: 20px;
    font-family: Rosario;
    text-align: center;
    justify-content: center;
}

#about-us p {
    background-color: var(--light);
    font-size: 20px;
}

#offers {
    cursor: pointer;
    overflow: hidden;
}

#promo-code {
    cursor: default;
}

.expanded {
    width: 45rem;
    background-color: #e2dad7;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 8px;
    order: -1;
}

#about-us {
    order: 1;
    background-image: url('../images/pizza-about-us.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#contacts {
    order: 2;
}

#phone-icon {
    width: 4rem;
    margin-top: 3rem;
}

#offers {
    order: 3;
}

#pizza-ad {
    height: 100px;
}

#promo-code {
    order: 4;
}

#pizza-promo {
    height: 5rem;
}

.active {
    display: flex;
}

.expanded #phone-icon {
    display: none;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#mobile-menu-icon {
    display: none;
}

#footer-logo {
    align-items: center;
}

/*Tablet view*/

@media only screen and (max-width: 768px) {
    #header-logo {
        display: flex;
        align-items: center;
        width: 70%;
    }
    .wrapper {
        width: 100%;
    }
    .bottom_nav {
        display: flex;
        justify-content: space-between;
    }
    #bottom-nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 7rem;
        background-color: var(--light);
        align-items: self-end;
        margin: 1rem 0;
        padding: 1rem;
        border: 2px solid var(--grayish-brown);
        height: 20rem;
        left: 25rem;
    }
  
  .bottom_nav {
    display: none;
  }
  #bottom-nav-items .dropdown {
    margin: auto 0 0 2rem;
  }
    .dropdown:hover .dropdown-content {
        left: -205%;
        top: 20%;
    }
    #pizza-dropdown {
        top: 40%;
        left: -130%;
        width: 12rem;
    }
    #user-dropdown {
        left: 0;
    }
    #header-logo h1 {
        font-size: 1rem;
    }
    #header-logo img {
        height: 80px;
    }
    #mobile-menu-icon {
        display: flex;
    }
    #hero-title {
        padding: 0;
    }
    #pizza-templates {
        grid-template-columns: 1fr;
    }
    #content-tabs {
        grid-template-columns: repeat(4, 0.5fr);
        overflow: scroll;
    }
    .content-tab {
        width: 7rem;
    }
    .expanded {
        width: 25rem;
        overflow: scroll;
    }
    #contact-info {
        margin: auto;
    }
    #social-media-icons {
        width: 100%;
    }
    .logo-container {
        width: 100%;
        justify-content: center;
    }
}

/* Mobile view */

@media only screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
    #bottom-nav-items {
        left: 8rem;
    }
    #hero-title {
        padding: 0;
    }
    #pizza-templates {
        grid-template-columns: 1fr;
    }
    #content-tabs {
        grid-template-columns: repeat(4, 0.5fr);
        overflow: scroll;
    }
    .content-tab {
        width: 7rem;
    }
    .expanded {
        width: 12rem;
        overflow: scroll;
    }
    .dropdown:hover .dropdown-content {
        left: -140%;
    }
    #pizza-dropdown {
        left: -85%;
    }
    #user-dropdown {
        left: 0;
    }

    #contact-info {
        margin: auto;
    }
    #social-media-icons {
        width: 100%;
    }
    .logo-container {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (min-width: 769px) {
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1120px) {
    #header-logo {
        display: flex;
        align-items: center;
        width: 70%;
    }
    .wrapper {
        width: 100%;
    }
    .dropdown:hover .dropdown-content {
        left: -205%;
        top: 20%;
    }
    #pizza-dropdown {
        top: 40%;
        left: -130%;
        width: 12rem;
    }
    #user-dropdown {
        left: 0;
    }
    #header-logo h1 {
        font-size: 1rem;
    }
    #header-logo img {
        height: 80px;
    }
    #mobile-menu-icon {
        display: flex;
    }
}