@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#header-logo {
    width: 30%;
    height: 100%;
}

.pizza-logo {
    height: 100px;
    padding: 0.8rem 0;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    padding-bottom: 10px;
    font-size: xx-large;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 0;
}

.wrapper .top_nav{
    margin-top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-icon {
    height: 30px;
}

.bottom-nav-icon {
    height: 50px;
}

#lang-container {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#lang-container > * {
    padding: 0 5px;
    margin: auto;
}

.lang-option.active-lang {
    background-color: var(--grayish-brown);
    border: 3px solid var(--grayish-brown);
    color: var(--light);
}
.inactive-lang {
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 3rem;
    background-color: var(--light);
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.dropdown-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-nav-items {
    display: flex;
    justify-content: space-evenly;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 1.5rem;
}

#user-options {
    list-style-type: none;
}

#user-options li {
    padding: 0 1rem;
    margin: 0 1rem;
}

#bottom-nav-items a{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: var(--grayish-brown);
    margin: auto 2rem;
}
#pizza-dropdown {
    left: 2rem;
}

.wrapper .bottom_nav{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#bottom-nav-items .dropdown {
    margin: auto 0 auto 2rem;
}

#user-options {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-dropdown {
    width: 100%;
    top: 3.3rem;
    border: 1px var(--grayish-brown) solid;
}

#logout-link {
    cursor: unset;
}

#logout-btn {
    border: none;
    background-color: var(--light-peach);
    font-family: Rosario;
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

#logout-btn:hover {
    cursor: pointer;
    background-color: #dec5a5;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #phone-button {
    animation: pulse 2s infinite;
  }
  
a {
    text-decoration: none;
}

.hero-image {
    min-height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homepage-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 800px));
    grid-template-rows: minmax(30px, 200px) minmax(300px, 500px) 400px 150px;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    color: var(--grayish-brown);
}

.left-side-content {
    grid-row: 1/2;
}

.pizza-name {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    margin: 1rem;
}

.pizza-name h2 {
    margin: 0;
    padding: 0;
    color: var(--grayish-brown);
}

.dough-image{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    margin: 1rem;
}

.dough-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
  }

.dough-buttons input[type="radio"] {
    display: none;
}

.dough-buttons label {
    font-size: 20px;
    padding: 1rem;
    margin: 2rem 0.5rem;
    border-radius: 50px;
    color: var(--grayish-brown);
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 3px #68563d;
    width: 6rem;
    cursor: pointer;
    border: none;
}

.dough-buttons input[type="radio"]:checked + label {
    border: 5px solid var(--tomato);
}

.dough-buttons input[id="gluten-free"] + label {
    background-color: #FDBC67;
}

.dough-buttons input[id="keto"] + label {
        background-color: #7DCD52;
}

.dough-buttons input[id="usual"] + label {
        background-color: #FDD8A9;
}

.comments {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    color: var(--grayish-brown);
    font-size: 20px;
}

#message {
    border: none;
    border-radius: 50px;
    margin: 0.5rem;
    padding: 2rem;
    font-size: 20px;
}

.size-buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    margin: 0;
}
.size-buttons h2 {
    margin: 0;
}

.left-side-content {
    grid-row: 1/4;
}
.size button:hover, .dough button:hover, #confirm-order:hover {
    cursor: pointer;
}

.size {
    display: flex;
    justify-content: center;
  }

.size input[type="radio"] {
    display: none;
}

.size label {
    background-color: #E9451C;
    color: #faf4f1;
    width: 5rem;
    padding: 0.3rem;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 0.5rem;
    box-shadow: 3px 3px 3px #68563d;
}

.size input[type="radio"]:checked + label {
    border: 5px solid var(--grayish-brown);
}

.fillings {
    grid-column: 2 / 3;
    text-align: center;
    margin: 0;
}

.right-side-content {
    grid-row: span 5;
}

.category-content li {
    list-style-type: none;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 12px;
}

#searchButton {
    cursor: pointer;
    padding: 10px;
    height: unset;
    width: unset;
}

#cheese li {
    background-color: var(--dandelion);
}

#meat li {
    background-color: var(--butterscotch);
}

#vegetables li {
    background-color: var(--grass);
}

#seafood li {
    background-color: var(--light-peach);
}

#sauces li {
    background-color: #fc896c;
}

.category-content ul {
    padding: 0;
    text-align: left;
    margin: 0;
}

.category-content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 1rem;
    margin: 0.5rem;
}

.category-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category {
    background-color: var(--parchment);
    padding: 1rem;
    margin: 0.5rem auto;
    width: 70%;
    border-radius: 12px;
}

.arrow {
    transition: transform 0.3s;
}

#search {
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    border-radius: 36px;
    font-size: 15px;
}

.nutritions {
    grid-column: 2 / 3;
    grid-row: 3 / auto;
    justify-self: center;
    margin-top: 2rem;
    text-align: center;
}

.calories {
    background-color: var(--grass);
    height: 9rem;
    width: 20rem;
    border-radius: 36px;
    padding: 1rem;
    margin: auto;
}

.price-add {
    text-align: center;
    margin: 1rem;
    position: relative;
    left: 20rem;
}

#confirm-order {
    width: 12rem;
    border-radius: 50px;
    border: none;
    padding: 1rem;
    background-color: var(--tomato);
    color: var(--light);
    font-size: 20px;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
}


