@font-face {
    font-family: 'Blanka';
    src: url(../font/Blanka-Regular.otf);
}

@font-face {
    font-family: Rosario;
    src: url(../font/Rosario.ttf);
}

:root {
    --light: #faf4f1;
    --grayish-brown: #68563d;
    --light-peach: #fdd8a9;
    --dandelion: #ffe200;
    --grass: #7bca51;
    --butterscotch: #f3af40;
    --parchment: #faf5a3;
    --tomato: #e9451c;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Rosario;
    font-size: large;
    margin: 0;
}

header {
    background-color: var(--light);
    width: 100%;
    color: var(--grayish-brown);
    display: flex;
    flex-direction: row;
    height: 150px;
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

#mainpage-link {
    text-decoration: none;
    color: var(--grayish-brown);
    display: flex;
    flex-direction: row;
    height: 150px;
}

.logo-container {
    display: flex;
    flex-direction: row;
}

#header-logo {
    width: 25%;
    height: 100%;
}

#pizza-logo {
    height: 100px;
    padding: 0.8rem 0;
}

.page-title {
    font-family: 'Blanka', sans-serif;
    margin: auto;
    padding-bottom: 10px;
    font-size: xx-large;
}

.wrapper {
    width: 75%;
}

.wrapper .top_nav{
    margin-top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.top-nav-icon {
    height: 30px;
}

.bottom-nav-icon {
    height: 50px;
}

#lang-container {
    border: 2px var(--grayish-brown) solid;
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
}

#lang-container > * {
    padding: 0 5px;
    margin: auto;
}


#lang-dropdown-arrow {
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 2rem;
    background-color: var(--light);
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#lang-dropdown-content {
    left: -4rem;
    width: 110px;
    top: 2.3rem;
}

#pizza-dropdown {
    left: 2rem;
}

.dropdown-link {
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    padding: 0.7rem;
    cursor: pointer;
}

.dropdown-link:hover {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    background-color: #e5ddda;
    transition: ease-out 0.3s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.right ul {
    display: flex;
    list-style-type: none;
}

.wrapper .top_nav .right ul li {
    margin: 0 1rem;
}

.wrapper .top_nav .right ul li a{
    display: block;
    padding: 8px 10px;
}

.wrapper .bottom_nav{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.wrapper .bottom_nav ul li {
    margin: auto 2rem;
    white-space: nowrap;
}

.wrapper .bottom_nav ul .dropdown {
    margin: auto 2rem;
}

.wrapper .bottom_nav ul li a{
    font-family: Rosario;
    color: var(--grayish-brown);
    padding: 1rem;
}

a {
    text-decoration: none;
}

.hero-image {
    min-height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homepage-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 800px));
    grid-template-rows: 100px minmax(450px, 500px) 400px 100px;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    color: var(--grayish-brown);
}

.left-side-content {
    grid-row: 1/2;
}

.pizza-name {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    margin: 1rem;
}

.pizza-name h2 {
    margin: 0;
    padding: 0;
    color: var(--grayish-brown);
}

.dough-image{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    margin: 1rem;
}
#gluten-free {background-color: #FDBC67;}

#keto {background-color: #7DCD52;}

#usual {background-color: #FDD8A9;}

.dough-image button {
    border: none;
    font-size: 20px;
    padding: 1rem;
    margin: 2rem 0.5rem;
    width: 6rem;
    border-radius: 50px;
    color: var(--grayish-brown);
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 3px 3px #68563d;
    cursor: pointer;
}

.comments {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    color: var(--grayish-brown);
    font-size: 20px;
}

#message {
    border: none;
    border-radius: 50px;
    margin: 0.5rem;
    padding: 2rem;
    font-size: 20px;
}

.size {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    margin: 0;
}
.size h2 {
    margin: 0;
}

.size button:hover, .dough button:hover, #confirm-order:hover {
    cursor: pointer;
}

#s, #m, #l {
    background-color: #E9451C;
    color: #faf4f1;
    width: 5rem;
    padding: 0.3rem;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 0.5rem;
    box-shadow: 3px 3px 3px #68563d;
}

.fillings {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: center;
    margin: 0;
}

.category-content li {
    list-style-type: none;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 12px;
}

#cheese li {
    background-color: var(--dandelion);
}

#meat li {
    background-color: var(--butterscotch);
}

#vegetables li {
    background-color: var(--grass);
}

#seafood li {
    background-color: var(--light-peach);
}

#sauces li {
    background-color: #fc896c;
}

.category-content ul {
    padding: 0;
    text-align: left;
    margin: 0;
}

.category-content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 1rem;
    margin: 0.5rem;
}

.category-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category {
    background-color: var(--parchment);
    padding: 1rem;
    margin: 0.5rem auto;
    width: 70%;
    border-radius: 12px;
}

.arrow {
    transition: transform 0.3s;
}



#search {
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    border-radius: 36px;
    font-size: 15px;
}

.nutritions {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    margin-top: 2rem;
    text-align: center;
}

.calories {
    background-color: var(--grass);
    height: 9rem;
    width: 20rem;
    border-radius: 36px;
    padding: 1rem;
}

#confirm-order {
    width: 6rem;
    border-radius: 50px;
    border: none;
    padding: 1rem;
    background-color: var(--tomato);
    color: var(--light);
    font-size: 20px;
    grid-row: 4/ 5;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grayish-brown);
    color: var(--light);
}

#contact-info {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

#social-media-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    color: var(--grayish-brown);
    border-radius: 50%;
    background-color: var(--light);
    margin: auto;
    height: 30px;
    width: 30px;
}


