@font-face {
  font-family: "Blanka";
  src: url(../font/Blanka-Regular.otf);
}

@font-face {
  font-family: Rosario;
  src: url(../font/Rosario.ttf);
}

:root {
  --light: #faf4f1;
  --grayish-brown: #68563d;
  --light-peach: #fdd8a9;
  --dandelion: #ffe200;
  --grass: #7bca51;
  --butterscotch: #f3af40;
  --parchment: #faf5a3;
  --tomato: #e9451c;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: Rosario;
  scroll-behavior: unset;
}

.modal-content {
  background-color: var(--light);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 70%;
  color: var(--grayish-brown);
}

#payment-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  padding: 20px;
  justify-items: stretch;
  align-items: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
input {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border: none;
}
#date {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
#expiration-date {
  width: 4rem;
}
#cvv {
  width: 4rem;
}
#confirmation {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  margin-top: 3rem;
  padding: 20px;
  align-items: center;
}
#total-amount {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#pay-button {
  background-color: var(--grass);
  color: var(--light);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 10px;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 5em;
  font-weight: bold;
  transform: translate(-10px, -35px);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 70%;
    align-items: center;
  }
  #payment-section {
    justify-items: center;
    row-gap: 1.5rem;
    grid-template-columns: 1fr;
}
  #date {
    grid-template-columns: 1fr;
  }
  #confirmation {
    grid-template-columns: 2fr;
    font-size: 1.5rem;
    row-gap: 2rem;
    margin-top: unset;
  }
}

@media only screen and (max-width: 480px) {
  .modal-content {
    width: 80%;
  }
}


